{% extends 'layoutpanel.html.twig' %}

{% block title %}

      {{ parent() }}

{% endblock %}

{% block stylesheets %} {{ parent() }}  


{% endblock %}

{% block body %}
 
  
     {{ parent() }}
     
      <div style="color:white" >
            
            {#{% set turismos = app.session.get('turismos') %}#}
            <h3 class="text-center" >Lista de Fotos de Galeria </h3>
            
            <h5 class="text-center" >Total: {{pagination.getTotalItemCount}}</h5>
            
                {#controles de paginacion#}
                
            {% set ruta = '/web/uploads/galeria/'  %}    
  
              <div  class="pagination" style="margin-left:60%;">
                    {{knp_pagination_render(pagination)}}
              </div>
             
            <div class="row center-block">
                <div class="col-md-6"  style="margin: auto;" >
                  
                 <table class="table">
                      <thead>
                           <tr>
                              <th>Foto</th>
                              <th>Accion</th>
                           </tr>
                      </thead>
                    <tbody>
                        
                        {% for t in pagination %}
                            <tr>
                                <td>  <img class="img-fluid d-block mx-auto"    src="{{ruta ~ t.foto  }}" alt=""> </td>
                                <td> 
                                     {#<a class="btn btn-danger">Eliminar</a>  <a class="btn btn-info" href="{{path('raa_user_editarTurismo',{id:t.idPublicaion})}}" > Editar </a> #}
                                     <a href="{{path('raa_user_eliminarPublicacion',{id:t.idPublicaion})}}" >
                                            <i style="color:blue; font-size:48px" class="fa fa-trash"></i>
                                     </a>

                                </td>
                            </tr>
                        {% endfor %}  
                   </tbody>
                </table>
                  
              
                  
              </div>
              
        
          </div>
      </div>
     
               
             
              
              
              
                
                 
            
  
 
 
 
  
   
                       
   
       

{% endblock %}


 {% block scripts %} {{ parent() }} {% endblock %}

