{% extends 'layoutsubmenus.html.twig' %}

{% block title %}

      {{ parent() }}

{% endblock %}

{% block stylesheets %} {{ parent() }} 




{% endblock %}


{% block body %}

   <div id="google_translate_element" class="pull-right"  style="display:none"  ></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,fr,it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand animated bounceInUp" href="{{path('raa_user_entradapage')}}" onclick="javascript:window.location.reload();" >
    <img class="img-fluid d-block mx-auto"  style="margin:0;padding:0" src="/web/public/img/logos/reina6.jpg" alt="">
     </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" style="margin-left:15%" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sonrie Amagua単a
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_verlugaresTuristicos')}}" >Lugares Turisticos</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresGastronomia')}}" >Gastronomia</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresFiestasTradicionales')}}" >Fiestas Tradicionales</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Galeria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_verlugaresGaleria')}}" >Fotos</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresVideos')}}" >Videos</a>

        </div>
      </li>
        
      <li class="nav-item ">
        <a class="nav-link animated bounceInDown" href="{{path('raa_user_entradapage')}}#about">Cronograma <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Eventos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_entradapage')}}#portfolio" >Mas destacados</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresEventosTodos')}}" >Todos</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reinas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_reinaactuall')}}" >Ana Belen Morales</a>
          <a class="dropdown-item" href="{{path('raa_user_verreinasAmaguana')}}" >Corte de Honor</a>
          <a class="dropdown-item" href="{{path('raa_user_verOrganizacion')}}" >Historia de Amagua単a</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link animated bounceInDown" href="{{path('raa_user_entradapage')}}#contact" >Redes Sociales</a>
      </li>
    </ul>
    {#<form class="form-inline my-2 my-lg-0">#}
  
    {#  <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalDonar"  >DONAR#}
    {#     <span class="fa fa-heart"></span> #}
    {#  </button>#}
    {#</form>#}
  </div>
</nav>
    <br/>
    <br/>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Sonrie Amagua単a
        <small> Donar</small>
        
         
      </h1>

      
          <form role="form"  class="row"   method="POST" action="{{path('raa_user_enviarCorreo')}}"  >
                <div class="col-md-6">      
                   <h4>FELICIDADES</h4>    
                </div>
                
                <div class="col-md-6">      
                    TU PEDIDO HA SIDO ENVIADO CON EXITO PRONTO NOS COMUNICAREMOS CON TIGO.
                </div>
                
                     
          </form>
      
      
      <!-- /.row -->
    <br/>
    
    
      
      
       {#fin de modales#}
    
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
   

    </div>
    <!-- /.container -->
    
    
    <div class="modal fade" id="donalmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success animated flipInY" id="exampleModalLabel">FELICIDADES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
                         
        
        <p class="text-info text-justify animated zoomIn" >
          TU PEDIDO HA SIDO ENVIADO CON EXITO PRONTO NOS COMUNICAREMOS CON TIGO.
        </p>
      </div>
      
    </div>
  </div>
</div>
    
    
    
    
    

    <!-- Footer -->
    <footer class="py-5 bg-dark ">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Reinado de Amagua単a 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         	 
         
          
{% endblock %}




 {% block scripts %} {{ parent() }}
 
 
 
 <script>
   $(document).ready(function(){
     
     var ok = {{ ok|json_encode() }};
     
    

  });
 </script>
 
 
 
 
 
 
 
 
 
 
 
 
 
 {% endblock %}

