{% extends 'layoutsubmenus.html.twig' %}

{% block title %}

      {{ parent() }}

{% endblock %}

{% block stylesheets %} {{ parent() }}  {% endblock %}


{% block body %}

  <div id="google_translate_element" class="pull-right"  style="display:none"  ></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,fr,it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand animated bounceInUp" href="{{path('raa_user_entradapage')}}" onclick="javascript:window.location.reload();" >
    <img class="img-fluid d-block mx-auto"  style="margin:0;padding:0" src="/web/public/img/logos/reina6.jpg" alt="">
     </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  style="margin-left:15%" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sonrie Amagua単a
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_verlugaresTuristicos')}}" >Lugares Turisticos</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresGastronomia')}}" >Gastronomia</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresFiestasTradicionales')}}" >Fiestas Tradicionales</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Galeria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_verlugaresGaleria')}}" >Fotos</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresVideos')}}" >Videos</a>

        </div>
      </li>
        
      <li class="nav-item ">
        <a class="nav-link animated bounceInDown" href="{{path('raa_user_entradapage')}}#about">Cronograma <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Eventos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_entradapage')}}#portfolio" >Mas destacados</a>
          <a class="dropdown-item" href="{{path('raa_user_verlugaresEventosTodos')}}" >Todos</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle animated bounceInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reinas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('raa_user_reinaactuall')}}" >Ana Belen Morales</a>
          <a class="dropdown-item" href="{{path('raa_user_verreinasAmaguana')}}" >Corte de Honor</a>
          <a class="dropdown-item" href="{{path('raa_user_verOrganizacion')}}" >Historia de Amagua単a</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link animated bounceInDown" href="{{path('raa_user_entradapage')}}#contact" >Redes Sociales</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      
      <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalDonar"  >DONAR
         <span class="fa fa-heart"></span> 
      </button>
    </form>
  </div>
</nav>
    <br/>
    <br/>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Hermosa Amagua単a
        <small>Reinas</small>
      </h1>

      <div class="row">
        
        
    {% set ruta = '/web/uploads/reinas/'  %}    
    {% for t in pagination %}
        
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top img-responsive animated flipInX" style="margin:auto;display:block;width: 350px; height: 500px; object-fit: fill;"  src="{{ruta ~ t.foto  }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{t.titulo}}</a>
              </h4>
              <p class="card-text">{{t.texto}}</p>
            </div>
          </div>
        </div>
      
     {% endfor %}   
    </div>
      <!-- /.row -->
    <br/>
     
     <!-- Pagination -->
      <div  class="pagination" >
                    {{knp_pagination_render(pagination)}}
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark ">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Reinado de Amagua単a 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         	 
         
          
{% endblock %}




 {% block scripts %} {{ parent() }} {% endblock %}

